$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Teko:700');

// .card {
//   background-color: blue;
//   border-color: red;
//   min-height: 300px;
//   padding-top: 20px;
//   width: 30.5%;
//   margin: 10px;
//   }

.card-body {
  width: 300px;
  padding: 20px;
  margin: 10px auto;
  line-height: 3;
  background-color: #f66;
  text-align: center;
  /* border-related properties */
  border: 20px solid black;
  background-clip: padding-box;
  border-image-source: url(https://mdn.mozillademos.org/files/13060/border-image.png);
  border-image-slice: 40;
  border-image-repeat: round;
}

.jumbotron {
  color: blue;
  background-color: bcdce3;
  font-size: 50px;
  height: 355px;
}

.btn-style {
  margin: 10px;
}

h5 {
  word-wrap: break-word;
}

h4 {
  word-wrap: break-word;
}

h3 {
  word-wrap: break-word;
}

.brand-custom {
  color: #fff;
  font-family: 'Teko', sans-serif;
}

.round-display {
  text-align: center;
  // padding-bottom: 15px;
}

#success-message {
  color: #1CB94E;
  font-size: 22px;
  font-weight: bold;
  padding: 30px;
  text-align: center;
}

#message {
  color: red;
  font-size: 22px;
  font-weight: bold;
  padding: 30px;
  text-align: center;
}
